@model Carpool.Web.GeneratedModels.Station

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Station</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationPassenger)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationPassenger.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StationTravel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StationTravel.TravelId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
