@model Carpool.Web.GeneratedModels.Travel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Travel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelMap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelMap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelDriver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelDriver.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TravelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
