@model IEnumerable<Carpool.Web.GeneratedModels.Travel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelDepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelMap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelDriver)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TravelOrigin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelDepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelMap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelDriver.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TravelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TravelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TravelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
